.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section--color{
    background-color: var(--background-color-list);
}
.section--position{
    padding-top: 0px;
}
.section-footer{
    margin-left: 70px;
    margin-right: 93px;
}