:root{
    --primary-text-color:#000000;
    --second-text-color: #212121;
    --accent-text-color: #2196f3;
    --accent-link-color: #757575;
    --main-text-color: #ffffff;
    --background-color: #2F303A;
    --background-color-section: #ECECEC;
    --background-color-list: #F5F4FA;
    --icon-color-team: #AFB1B8;
    --background-hero: #C4C4C4;
}